<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
  <title>Studors - Tutor</title>
</head>

<body>
  <%- include('../../components/header'); %>
  <div class="flex-box">
    <div id="holder" style="margin-top: 10px;">
      <div class="settings-box" style="width: 650px;">
        <form action="" method="post">
          <label>Availability:</label>
          <table id="availabilityTable" style="width: 100%;">
            <thead>
              <tr class="header" style="text-align: center;">
                <th style="border-bottom: 1px solid #e1e1e1;border-right: 1px solid #e1e1e1;text-align: left;">Time</th>
                <th style="border-bottom: 1px solid #e1e1e1;">Mon</th>
                <th style="border-bottom: 1px solid #e1e1e1;">Tue</th>
                <th style="border-bottom: 1px solid #e1e1e1;">Wed</th>
                <th style="border-bottom: 1px solid #e1e1e1;">Thu</th>
                <th style="border-bottom: 1px solid #e1e1e1;">Fri</th>
              </tr>
            </thead>
            <tbody>
              <% for(const obj of times) { %>
              <tr>
                <% for(const key in obj) { %>
                <% if (key == 0) { %>
                <td style="width:150px; border-right: 1px solid #e1e1e1;"><%= format(new Date(1970,0,1,obj[key],(obj[key]%1 * 60)), 'h:mm aa') %></td>
                <% } else { %>
                <td style="width: 100px;text-align: center;"><label class="check"><input style="display: none;" type="checkbox" name="<%= (obj[key]) %>" <% if(checked.includes(obj[key])) { %> checked <%}%>/>
                  <span style="display: inline-block; float: none;"></span>
                  </label>
                </td>
                    <% } %>
                  <% } %> </tr>
                <% } %>
            </tbody>
          </table>
          <span class="small-error"><%= error %></span>
          <button class="mainbutton" type="submit">Save</button>
        </form>
      </div>
    </div>
  </div>
  <%- include('../../components/footer'); %>
</body>

</html>