<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
  <title>Studors - Tutor</title>
  <style>
    body {
      height: 100%;
    }

    #user-list hr:last-child {
      display: none;
    }
  </style>
</head>

<body>
  <%- include('../../components/header'); %>
  <div class="admin-list">
    <h2>Past Sessions:</h2>
    <div id="user-list">
      <% if (pastSessions.length === 0) { %>
        <p class="small-info" style="text-align: center;">You currently have no past sessions</p>
      <% } %>
      <% for(const obj of pastSessions) { %>
        <div class="session">
          <p><%= functions.formatDate(obj['time_id'], true, obj['duration']) %><br>
          <%= obj['first_name'] %> <%= obj['last_name'] %> | <%= obj['subject_id'] %><br>
          <% if(obj['phone']) { %> <%= obj['phone'] %> | <%}%> <%= obj['email'] %>
          </p>
        </div>
        <hr>
      <% } %>
    </div>
    <button class="mainbutton returnbutton" onclick="window.location.replace('/tutor/home')">Home</button>
    <br id="upcoming-list">
  </div>
  <%- include('../../components/footer'); %>
</body>

</html>
