<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
  <title>Studors - Tutor</title>
  <style>
    body {
      height: 100%;
    }

    #user-list hr:last-child {
      display: none;
    }
  </style>
</head>

<body>
  <%- include('../../components/header'); %>
  <div class="admin-list">
    <h2>Upcoming Sessions:</h2>
    <form id="user-list" action='/tutor/cancel' method='post'>
      <span <% if(message === 'Session successfully deleted') { %> class="small-success" <%} else {%> class="small-error" <%}%>><%=message%></span>
      <% if (upcomingSessions.length === 0) { %>
        <p class="small-info" style="text-align: center;">You currently have no upcoming sessions</p>
      <% } %>
      <% for(const obj of upcomingSessions) { %>
        <div class="session">
          <p>
            <%= functions.formatDate(obj['time_id'], true, obj['duration']) %><br>
            <%= obj['first_name'] %> <%= obj['last_name'] %> | <%= obj['subject_id'] %><br>
            <% if( obj['phone'] ) { %> <%= obj['phone'] %> | <%}%> <%= obj['email'] %>
            <button name="cancel" type="submit" value="<%=obj['time_id'].getTime()%>" class="cancelbutton mainbutton" title="Cancel session" style="border: 0px"
            onclick="if(confirm('Are you sure you want to cancel your session on <%= functions.formatDate(obj['time_id'], true, obj['duration']) %>?')){}else{return false;};">❌</button>
          </p>
        </div>
        <hr>
      <% } %>
    </form>
    <button class="mainbutton returnbutton" onclick="window.location.replace('/tutor/home')">Home</button>
    <br id="upcoming-list">
  </div>
  <%- include('../../components/footer'); %>
</body>

</html>
