<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../components/head'); %>
        <title>Studors - Tutor</title>
</head>

<style>
    /* Navbar current bold */
    #nav-home {
        font-weight: 900;
    }
</style>

<body>
    <div id="home-top">
            <%- include('../../components/header'); %>
            <%- include('../../components/topbar'); %>
        </div>
    <div class="flex-box">
        <div id="home-internal">
            <%- include('../../components/navbar'); %>
                <div id="home-center-box">
                    <%- include('../../components/profile'); %>
                        <%- include('../../components/buttons', {label: 'Fill a request' }); %>
                </div>
                <div id="right-hidden-navbar">
                    <span></span>
                </div>
        </div>
    </div>
    <%- include('../../components/footer'); %>
</body>

</html>
