<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../components/head'); %>
        <title>Studors - Tutor</title>
</head>

<body>
    <%- include('../../components/header'); %>
    <div id="flex-box">
        <div id="holder">
            <div id="settings-box">
                <form action="" method="post">
                    <label for="grade">Grade*:</label>
                    <input type="tel" id="grade" name="grade" pattern="^[9]$|^[1][0-2]$"
                        oninvalid="setCustomValidity('Please enter a grade between 9-12')"
                        oninput="setCustomValidity('')" placeholder="9-12" <% if(user.grade>8) { %>value="<%=user.grade %>"<%}%> >
                            <br>
                            <br>
                            <label for="phone">Phone:</label>
                            <input type="tel" id="phone" name="phone"
                                pattern="^([2-9][0-8][0-9])[-]([2-9][0-9]{2})[-]([0-9]{4})$"
                                value="<%=user.phone %>" placeholder="800-555-0101"
                                oninvalid="setCustomValidity('Please enter a phone number with this style: ###-###-####')"
                                oninput="setCustomValidity('')">
                            <br>
                            <br>
                            <label for="dark_theme">Dark Mode:</label>
                            <label class="check"><input style="display: none;" type="checkbox" id="dark_theme" name="dark_theme" <%=user.dark_theme ? "checked"
                                : "" %>>
                                <span></span>
                            </label>
                            <br>
                            <br>
                            <button onclick="location.href='availability'" type="button">
                                Manage your availability
                            </button>
                            <p id="small-error">
                                <%=error %>
                            </p>
                            <button type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
    <%- include('../../components/footer'); %>
</body>

</html>
