<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../components/head'); %>
    <title>Studors - Tutor</title>
</head>

<body>
    <%- include('../../components/header'); %>
    <div class="flex-box">
        <div id="holder">
            <div class="settings-box">
                <form action="" method="post">
                    <label for="grade">Grade</label>
                    <input type="tel" id="grade" name="grade" pattern="^[9]$|^[1][0-2]$"
                        oninvalid="setCustomValidity('Please enter a grade between 9-12')"
                        oninput="setCustomValidity('')" placeholder="9-12" <% if(user.grade>8) { %>value="<%=user.grade %>"<%}%> >
                    <span style="color:red;">*</span><br>
                    <br>
                    <label for="phone">Phone</label>
                    <input type="tel" id="phone" name="phone"
                        pattern="^[(]?([2-9][0-8][0-9])[)]?[-|\s]?([2-9][0-9]{2})[-|\s]?([0-9]{4})$"
                        value="<%=user.phone %>" placeholder="800-555-0101"
                        oninvalid="setCustomValidity('Please enter a valid phone number or leave blank')"
                        oninput="this.setCustomValidity('')">
                    <br>
                    <br>
                    <label for="dark_theme">Dark Mode</label>
                    <label class="check"><input style="display: none;" type="checkbox" id="dark_theme" name="dark_theme" onchange="document.getElementById('dark_style').disabled=!document.getElementById('dark_theme').checked;" <%=user.dark_theme ? "checked"
                        : "" %>>
                        <span></span>
                    </label>
                    <br>
                    <br>
                    <button onclick="location.href='availability'" type="button">
                        Manage your availability
                    </button>
                    <br>
                    <br>
                    <button onclick="location.href='subjects'" type="button">
                        Choose your subjects
                    </button>
                    <span class="small-error">
                        <%=error %>
                    </span>
                    <br>
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
    <%- include('../../components/footer'); %>
</body>

</html>

<script>
    document.getElementById('dark_style').disabled=!document.getElementById('dark_theme').checked;
</script>