<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
  <title>Studors - Tutor</title>
  <style>
    #user-list {
      white-space: pre-line;
    }
    body {
      height: 100%;
    }
  </style>
  <script src="/js/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/datatables.min.css">
  <script type="text/javascript" charset="utf8" src="/js/datatables.min.js"></script>
</head>

<body>
  <%- include('../../components/header'); %>
  <div class="admin-list">
    <div id="user-list">
      <h2> Upcoming Sessions: </h2>
      <table id="upcomingSessionTable">
        <thead>
        <tr>
          <th>Time</th>
          <th>Tutor name</th>
          <th>Tutor surname</th>
          <th>Student name</th>
          <th>Student surname</th>
          <th>Subject</th>
          <th>Hours</th>
        </tr>
        </thead>
        <tbody>
        <% for(const obj of upcomingSessions){ %>
        <tr>
          <% for(const key in obj) { %>
            <% if( key == "time_id") { %>
              <td><%= functions.formatDate(obj[key]) %></td><%
              }
              else { %>
          <td><%= obj[key] %></td>
          <% }
          } %>
        </tr>
        <% } %>
      </tbody>
      </table>
    </div>
  </div>
  <%- include('../../components/footer'); %>
</body>

<script>
  $(document).ready(function () {
    $('#upcomingSessionTable').DataTable();
  });
</script>

</html>
