<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
  <title>Studors - Tutor</title>
  <style>
    #user-list {
      white-space: pre-line;
    }
    body {
      height: 100%;
    }
  </style>
  <script src="/js/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/datatables.min.css">
  <script type="text/javascript" charset="utf8" src="/js/datatables.min.js"></script>
</head>

<body>
  <%- include('../../components/header'); %>
  <div class="admin-list">
    <h2> Upcoming Sessions: </h2>
    <form id="user-list" action='/tutor/cancel' method='post'>
      <span><%=message%></span>
      <% for(const obj of upcomingSessions) { %>
        <p><%= functions.formatDate(obj['time_id'], true, obj['duration']) %>
        <p><%= obj['first_name'] %> <%= obj['last_name'] %> | <%= obj['subject_id'] %>
        <p> <% if( obj['phone'] ) { %> <%= obj['phone'] %> | <%}%> <%= obj['email'] %>
        <button name="cancel" type="submit" value="<%=obj['time_id'].getTime()%>">❌</button>
        </p></p></p>
      <% } %>
      </form>
    <br id="upcoming-list">
  </div>
  <%- include('../../components/footer'); %>
</body>

</html>
