<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
  <title>Studors - Admin</title>
  <style>
    #apiKey {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    #apiKey p {
      font-size: 12pt;
      color: #e8413c;
    }

    #apiKey p#key {
      visibility: hidden;
    }

    button {
      width: 90px;
    }

    #settings-box #apiKey #toggleButton {
      left: 0%;
      transform: none;
      margin-left: 12px;
      margin-right: 12px;
    }
  </style>
</head>

<body>
  <%- include('../../components/header'); %>
  <div class="flex-box">
    <div id="holder">
      <div class="settings-box" <% if(user.grade>8) { %> style="width: fit-content;" <% } %>>
        <% if(user.grade>8) { %>
        <div id="apiKey">
          <p style="margin-right: 12px">
            API KEY:
          </p>
          <p id="key"><%= user.api_key %></p>
          <p>
            <button style="margin-left:10px;" class="mainbutton" id="toggleButton" type="button" onclick="showMask()">Show</button>
          </p>
          <form method="post" action="apiReset">
            <button onclick="if(confirm('Are you sure?\nResetting will require you to replace any API keys in any applications that you use. For example google sheets.')){}else{return false;};"
            style="margin-left:10px;" class="mainbutton" type="submit">Reset</button>
          </form>
        </div>
        <hr style="width: 100%">
        <% } %>
        <form action="" method="post">
          <label for="grade">Grade</label>
          <input type="tel" id="grade" name="grade" 
          pattern="^[9]$|^[1][0-3]$" 
          oninvalid="setCustomValidity('Please enter a grade between 9-13. (Enter 13 if you are post-graduate)')" 
          oninput="setCustomValidity('')" 
          placeholder="9-13" 
          <% if(user.grade>8) { %>value="<%= user.grade %>" <% } %>>
          <span style="color:red;">*</span>
          <br>
          <br>
          <label for="phone">Phone</label>
          <input type="tel" id="phone" name="phone"
          pattern="^[(]?([2-9][0-8][0-9])[)]?[-|\s]?([2-9][0-9]{2})[-|\s]?([0-9]{4})$"
          value="<%=user.phone %>" 
          placeholder="800-555-0101" 
          oninvalid="setCustomValidity('Please enter a valid phone number or leave blank')" 
          oninput="this.setCustomValidity('')">
          <br>
          <br>
          <label for="dark_theme">Dark Mode</label>
          <label class="check"><input style="display: none;" type="checkbox" id="dark_theme" name="dark_theme" 
            onchange="document.getElementById('dark_style').disabled=!document.getElementById('dark_theme').checked;" <%=user.dark_theme ? "checked" : "" %>>
            <span></span>
          </label>
          <br>
          <span class="small-error"><%= error %></span>
          <br>
          <button class="mainbutton" type="submit">Save</button>
        </form>
      </div>
    </div>
  </div>
  <%- include('../../components/footer'); %>
</body>

<script>
  document.getElementById('dark_style').disabled = !document.getElementById('dark_theme').checked;
  function showMask() {
    var node = document.getElementById('key')
    var button = document.getElementById('toggleButton')
    var visibility = node.style.visibility;
    if (visibility == "visible") {
      button.textContent = "Show"
    } else {
      button.textContent = "Hide"
    }
    node.style.visibility = visibility == "visible" ? 'hidden' : "visible"
  }
</script>

</html>
