<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
  <title>Studors - Student</title>
  <style>
    #user-list {
      white-space: pre-line;
    }
    body {
      height: 100%;
    }
  </style>
  <script src="/js/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/datatables.min.css">
  <script type="text/javascript" charset="utf8" src="/js/datatables.min.js"></script>
</head>

<body>
  <%- include('../../components/header'); %>
  <div class="admin-list">
    <h2> Past Sessions: </h2>
    <div id="user-list">
      <% for(const obj of pastSessions) { %>
        <p><%= functions.formatDate(obj['time_id'], true, obj['duration']) %>
        <p><%= obj['first_name'] %> <%= obj['last_name'] %> | <%= obj['subject_id'] %>
        <p> <% if( obj['phone'] ) { %> <%= obj['phone'] %> | <%}%> <%= obj['email'] %>
        </p></p></p>
      <% } %>
    </div>
    <button class="mainbutton returnbutton" onclick="window.location.replace('/student/home')">Home</button>
    <br id="upcoming-list">
  </div>
  <%- include('../../components/footer'); %>
</body>

</html>
