<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
  <title>Studors - Student</title>

  <style>
    /* Navbar current bold */
    .home-footer {
      font-weight: 900;
    }
  </style>
</head>

<body>
  <div id="home-top">
      <%- include('../../components/header'); %>
      <%- include('../../components/topbar'); %>
  </div>
  <div class="flex-box">
    <div id="home-internal">
      <%- include('../../components/navbar'); %>
        <div id="home-center-box">
          <%- include('../../components/profile'); %>
            <%- include('../../components/buttons', {label: 'Find a new session' }); %>
        </div>
        <div id="right-hidden-navbar">
          <span></span>
        </div>
    </div>
  </div>
  <%- include('../../components/footer'); %>
</body>

</html>
