<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
  <title>Studors - Student</title>
  <style>
    #user-list {
      white-space: pre-line;
    }

    body {
      height: 100%;
    }
  </style>
  <script src="/js/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/datatables.min.css">
  <script type="text/javascript" charset="utf8" src="/js/datatables.min.js"></script>
</head>

<body>
  <%- include('../../components/header'); %>
  <div class="admin-list">
    <h2>Upcoming Sessions: </h2>
    <form id="user-list" action='/student/cancel' method='post' style="white-space:normal;">
      <span <%if(message === 'Session successfully deleted') { %> class="small-success" <%} else {%> class="small-error" <%}%>><%=message%></span>
        <% for(const obj of upcomingSessions) { %>
        <div class="session">
          <p>
            <%= functions.formatDate(obj['time_id'], true, obj['duration']) %><br>
            <%= obj['first_name'] %> <%= obj['last_name'] %> | <%= obj['subject_id'] %><br>
            <% if( obj['phone'] ) { %> <%= obj['phone'] %> | <%}%> <%= obj['email'] %>
            <button name="cancel" type="submit" value="<%=obj['time_id'].getTime()%>" onclick="if(confirm('Are you sure you want to cancel your session on <%= functions.formatDate(obj['time_id'], true, obj['duration']) %>?')){}else{return false;};" class="cancelbutton mainbutton" title="Cancel session" style="border: 0px">❌</button>
          </p>
        </div>
        <hr>
        <% } %>
    </form>
    <button class="mainbutton returnbutton" onclick="window.location.replace('/student/home')">Home</button>
    <br id="upcoming-list">
  </div>
  <%- include('../../components/footer'); %>
</body>
<!-- Removes the last div in the form -->
<script>
  $("form hr").last().css("display", "none");
</script>

</html>
