<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
  <title>Studors - Student</title>
  <style>
    #user-list {
      white-space: pre-line;
    }
    body {
      height: 100%;
    }
  </style>
  <script src="/js/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/datatables.min.css">
  <script type="text/javascript" charset="utf8" src="/js/datatables.min.js"></script>
</head>

<body>
  <%- include('../../components/header'); %>
  <div class="admin-list">
    <h2> Upcoming Sessions: </h2>
    <div id="user-list" style="display:none;">
      <table id="upcomingSessionTable">
        <thead>
        <tr>
          <th>Time</th>
          <th>Tutor name</th>
          <th>Tutor surname</th>
          <th>Student name</th>
          <th>Student surname</th>
          <th>Subject</th>
          <th>Hours</th>
        </tr>
        </thead>
        <tbody>
        <% for(const obj of upcomingSessions){ %>
        <tr>
          <% for(const key in obj) { %>
            <% if( key == "time_id") { %>
              <td><%= functions.formatDate(obj[key]) %></td><%
              }
              else { %>
          <td><%= obj[key] %></td>
          <% }
          } %>
        </tr>
        <% } %>
      </tbody>
      </table>
    </div>
    <br id="upcoming-list">
  </div>
  <%- include('../../components/footer'); %>
</body>

<!--script>
  $(document).ready(function () {
    $('#upcomingSessionTable').DataTable();
  });
</script-->

<script>
  console.log($('tbody tr').length)
  var upcoming = $('#upcoming-list');
  var time;
  var name;
  var subject;
  var duration;

  for (let i = 0; i < $('tbody tr').length; i++) {
    console.log($('tbody tr td:nth-child(1)').eq(i).text())
    console.log($('tbody tr td:nth-child(2)').eq(i).text())
    console.log($('tbody tr td:nth-child(3)').eq(i).text())
    console.log($('tbody tr td:nth-child(6)').eq(i).text())
    console.log($('tbody tr td:nth-child(7)').eq(i).text())

    time = $('tbody tr td:nth-child(1)').eq(i).text();
    name = $('tbody tr td:nth-child(2)').eq(i).text() + " " + $('tbody tr td:nth-child(3)').eq(i).text();
    subject = $('tbody tr td:nth-child(6)').eq(i).text();
    duration = $('tbody tr td:nth-child(7)').eq(i).text();

    upcoming.before("<p>" + time.slice(0, time.lastIndexOf(':')) + ", " + (duration * 60) + " Minutes");
    upcoming.before("<p>" + name + " | " + subject);
    upcoming.before($("<br>"));
  }
</script>

</html>
