<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
  <title>Studors - Student</title>

  <style>
    /* Current page bold */
    .home-footer {
      font-weight: 900;
    }

    .nav-home {
      font-weight: 900;
    }
  </style>
</head>

<body>
  <div id="home-top">
    <%- include('../../components/header'); %>
    <%- include('../../components/topbar'); %>
  </div>
  <div class="flex-box">
    <div id="home-internal">
      <%- include('../../components/navbar'); %>
      <div id="home-center-box">
        <%- include('../../components/profile'); %>
        <div class="home-buttons">
          <button class="mainbutton" onclick="location.href='upcoming'" type="button">
            Upcoming Sessions
          </button>
          <button class="mainbutton" onclick="location.href='find'" type="button">
            Schedule a new session
          </button>
          <button class="mainbutton" onclick="location.href='history'" type="button">
            Session History
          </button>
        </div>
      </div>
      <div id="right-hidden-navbar">
        <span></span>
      </div>
    </div>
  </div>
  <%- include('../../components/footer'); %>
</body>

</html>