<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
  <title>Studors - Admin</title>
  <style>
    #user-list {
      white-space: pre-line;
    }

    body {
      margin-bottom: 10vh;
      height: 100%;
      margin-left: 10px;
      margin-right: 10px;
    }
  </style>
</head>

<body>
  <%- include('../../components/header'); %>
  <div id="flex-box">
    <div id="user-list">
      <h2> Students: </h2>
      <%= students %>
      <hr>
      <h2> Tutors: </h2>
      <%= tutors %>
      <hr>
      <h2> Admins: </h2>
      <%= admins %>
      <hr>
      <h2> Allowed Student domains: </h2>
      <%= studentAllowed %>
      <hr>
      <h2> Allowed Tutors: </h2>
      <%= tutorAllowed %>
      <hr>
      <h2> Allowed Admins: </h2>
      <%= adminAllowed %>
      <hr>
      <h2> Upcoming Sessions: </h2>
      <input type="text" class="tableInput" id="upcomingTableInput" onkeyup="tableSearch('upcomingTableInput','upcomingSessionTable')" placeholder="Search anything...">
      <table class="sessionTable" id="upcomingSessionTable">
        <tr class="header">
          <th onclick="sortTable(0,'upcomingSessionTable')" style="width:30%">Time</th>
          <th onclick="sortTable(1,'upcomingSessionTable')" style="width:15%">Tutor name</th>
          <th onclick="sortTable(2,'upcomingSessionTable')" style="width:15%">Tutor surname</th>
          <th onclick="sortTable(3,'upcomingSessionTable')" style="width:15%">Student name</th>
          <th onclick="sortTable(4,'upcomingSessionTable')" style="width:15%">Student surname</th>
          <th onclick="sortTable(5,'upcomingSessionTable')" style="width:5%">Subject</th>
          <th onclick="sortTable(6,'upcomingSessionTable')" style="width:5%">Hours</th>
        </tr>
        <% for(const obj of upcomingSessions){ %>
        <tr>
          <% for(const key in obj) { %>
            <% if( key == "timeof") {
              %> <td><%= functions.formatDate(obj[key]) %></td><%
              }
              else { %>
              <td><%= obj[key] %></td>
            <% }
          } %>
        </tr>
        <% } %>
      </table>
      <hr>
      <h2> Past Sessions: </h2>
      <input type="text" class="tableInput" id="pastTableInput" onkeyup="tableSearch('pastTableInput','pastSessionTable')" placeholder="Search anything...">
      <table class="sessionTable" id="pastSessionTable">
        <tr class="header">
          <th onclick="sortTable(0,'pastSessionTable')" style="width:30%">Time</th>
          <th onclick="sortTable(1,'pastSessionTable')" style="width:15%">Tutor name</th>
          <th onclick="sortTable(2,'pastSessionTable')" style="width:15%">Tutor surname</th>
          <th onclick="sortTable(3,'pastSessionTable')" style="width:15%">Student name</th>
          <th onclick="sortTable(4,'pastSessionTable')" style="width:15%">Student surname</th>
          <th onclick="sortTable(5,'pastSessionTable')" style="width:5%">Subject</th>
          <th onclick="sortTable(6,'pastSessionTable')" style="width:5%">Hours</th>
        </tr>
        <% for(const obj of pastSessions){ %>
        <tr>
          <% for(const key in obj) { %>
            <% if( key == "timeof") { %>
              <td><%= functions.formatDate(obj[key]) %></td><%
              }
              else { %>
          <td><%= obj[key] %></td>
          <% } 
          } %>
        </tr>
        <% } %>
      </table>
    </div>
  </div>
  <%- include('../../components/footer'); %>
</body>


<script>
  function tableSearch(input,table) {
    // Declare variables
    var input, filter, table, tr, th, td, i, j, txtValue;
    input = document.getElementById(input);
    filter = input.value.toUpperCase();
    table = document.getElementById(table);
    tr = table.getElementsByTagName("tr");
    th = table.getElementsByTagName("th");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      // Loop through all of the row's columns
      for (j = 0; j < th.length; j++) {
        td = tr[i].getElementsByTagName("td")[j];
        if (td) {
          txtValue = td.textContent || td.innerText
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
          break;
          } else {
          tr[i].style.display = "none";
          }
        }
      }
    }
  }

  function sortTable(n,table) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById(table);
    switching = true;
    // Set the sorting direction to ascending:
    dir = "asc";
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /* Loop through all table rows (except the
      first, which contains table headers): */
      for (i = 1; i < (rows.length - 1); i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /* Check if the two rows should switch place,
        based on the direction, asc or desc: */
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
        and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        // Each time a switch is done, increase this count by 1:
        switchcount ++;
      } else {
        /* If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again. */
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
  
</script>

</html>