<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
  <title>Studors - Admin</title>
  <style>
    #user-list {
      white-space: pre-line;
    }

    body {
      margin-bottom: 10vh;
      height: 100%;
      margin-left: 10px;
      margin-right: 10px;
    }
  </style>
</head>

<body>
  <%- include('../../components/header'); %>
  <div id="flex-box">
    <div id="user-list">
      <h2> Students: </h2>
      <%= students %>
      <hr>
      <h2> Tutors: </h2>
      <%= tutors %>
      <hr>
      <h2> Admins: </h2>
      <%= admins %>
      <hr>
      <h2> Allowed Student domains: </h2>
      <%= studentAllowed %>
      <hr>
      <h2> Allowed Tutors: </h2>
      <%= tutorAllowed %>
      <hr>
      <h2> Allowed Admins: </h2>
      <%= adminAllowed %>
      <hr>
      <h2> Upcoming Sessions: </h2>
      <table>
        <tr>
          <th>Time</th>
          <th>Tutor name</th>
          <th>Tutor surname</th>
          <th>Student name</th>
          <th>Student surname</th>
          <th>Subject</th>
          <th>Hours</th>
        </tr>
        <% for(const obj of upcomingSessions){ %>
        <tr>
          <% for(const key in obj) { %>
          <td><%= obj[key] %></td>
          <% } %>
        </tr>
        <% } %>
      </table>
      <hr>
      <h2> Past Sessions: </h2>
      <table>
        <tr>
          <th>Time</th>
          <th>Tutor name</th>
          <th>Tutor surname</th>
          <th>Student name</th>
          <th>Student surname</th>
          <th>Subject</th>
          <th>Hours</th>
        </tr>
        <% for(const obj of pastSessions){ %>
        <tr>
          <% for(const key in obj) { %>
          <td><%= obj[key] %></td>
          <% } %>
        </tr>
        <% } %>
      </table>
    </div>
  </div>
  <%- include('../../components/footer'); %>
</body>

</html>
