<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
    <title>Studors - Admin</title>

    <style>
      /* Navbar current bold */
      .home-footer {
        font-weight: 900;
      }
      .nav-home {
        font-weight: 900;
      }
    </style>
</head>

<body>
  <%- include('../../components/header'); %>
  <div class="flex-box">
      <div id="home-center-box">
        <div class="profile">
          <div class="profileimg">
            <img src="<%= user.picture %>" referrerpolicy="no-referrer" />
          </div>
          <div>
            <p class="name">
              <%= user.first_name %>
                <%= user.last_name %>
            </p>
          </div>
        </div>
        <div class="home-buttons">
          <button onclick="location.href='manage'" type="button">
            Manage users
          </button>
          <button onclick="location.href='list'" type="button">
            List data
          </button>
          <button onclick="location.href='settings'" type="button">
            Edit your account
          </button>
          <button onclick="location.href='/auth/logout'" type="button">
            Logout
          </button>
        </div>
      </div>
  </div>
  <%- include('../../components/footer'); %>
</body>

</html>
